{% extends 'base.html' %}

{% block content %}
    <form class="product-form" action="/products" method="POST">
        <h1>Add new product</h1>
        <div>
            <label for="name">Product name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="stock">Stock</label>
            <input type="number" name="stock" id="stock">
        </div>
        <div>
            <label for="supplier">Supplier</label>
            <select name="supplier_id" id="supplier">
                {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="purchase_price">Purchase price (£)</label>
            <input type="number" name="purchase_price" id="purchase_price">
        </div>
        <div>
            <label for="selling_price">Selling price (£)</label>
            <input type="number" name="selling_price" id="selling_price">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description", id="description">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{% endblock content %}