{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <h1>Edit supplier</h1>
        <form action="/suppliers/{{ supplier.id }}" method="POST">
            <div>
                <label for="name">Supplier name</label>
                <input type="text" name="name" id="name" value="{{ supplier.name }}">
            </div>
            <div>
                <label for="phone">Contact number</label>
                <input type="tel" name="phone" id="phone" value="{{ supplier.phone }}">
            </div>
            <div>
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" value="{{ supplier.email }}">
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </div>
{% endblock content %}