{% extends 'base.html' %}

{% block content %}
<div>
    <a href="/suppliers/new">add supplier</a>
</div>
<table>
    <tr>
        <th>Supplier</th>
        <th>Contact number</th>
        <th>Email address</th>
        <th>Actions</th>
    </tr>
    {% for supplier in suppliers %}
    <tr>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.phone }}</td>
        <td>{{ supplier.email }}</td>
        <td>
            <div class="button-container">
                <form action="/suppliers/{{ supplier.id }}">
                    <button class="buttons"><i class="fa-solid fa-clipboard-list"></i></button>
                </form>
                <form action="/suppliers/{{ supplier.id }}/edit">
                    <button class="buttons"><i class="fa-solid fa-file-pen"></i></button>
                </form>
                <form action="/suppliers/{{ supplier.id }}/delete" method="POST">
                    <button class="buttons"><i class="fa-solid fa-trash-can"></i></button>
                </form>
            </div>
    </tr>
    {% endfor %}
</table>
{% endblock content %}