<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inventory Portal | WW</title>
</head>
<body>
    <header class="main-header">
        <div>
            <img class="small-logo" src="{{ url_for('static', filename = '/images/logo.png') }}">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Inventory</a></li>
                <li><a href="/suppliers">Suppliers</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
        
    {% endblock content %}
</body>
</html>